[submodule "systemui/compositor/protocols/3rdparty/wlroots"]
	path = systemui/compositor/protocols/3rdparty/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "systemui/compositor/protocols/3rdparty/wayland"]
	path = systemui/compositor/protocols/3rdparty/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
